<template lang="pug">
  div.main-container
    Menu
    nuxt.content
    Footer
  </div>
</template>

<script>
import Menu from '~/components/Menu.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: { Menu, Footer }
}
</script>

<style>
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16pt;
  font-weight: 400;
  margin: 0;
  color: #555;

  @media (max-width: $bpPhone) {
    font-size: 13pt;
  }
}

p {
  padding: .2em 0 .2em 0;
}

h1, h2, h3 {
  margin: 1em 0 0.67em 0;
}

.text-center {
  text-align: center;
}

.button {
  display: inline-block;
  border: 1px solid $accentColor;
  border-radius: 0.5rem;
  background-color: $accentColor;
  outline: none;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  transition: background 0.2s ease, color 0.2s ease;
  display: inline-block;
  user-select: none;

  &:hover {
    border: 1px solid $accentColor;
    background-color: #fff;
    color: $accentColor;
  }
}

a {
  $blue: #1882c6;
  text-decoration: none;
  color: $blue;
  border: 1px solid $blue;
  border-width: 0 0 1px 0;
  transition: border-color 0.2s ease;
  cursor: pointer;

  &:hover {
    border-color: #fff;
  }
}

.icon {
  margin-right: 0.5em;
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s ease;
}

.page-enter, .page-leave-to {
  opacity: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

html,
body,
#__nuxt,
#__layout,
.main-container
{
  height: 100%;
}
</style>
