<template lang="pug">
.index-page
  client-only
    SpeciesRanking
</template>

<script>
import SpeciesRanking from '~/components/SpeciesRanking.vue'

export default {
  components: { SpeciesRanking }
}
</script>

<style>
.index-page {
  padding: 0 60px 60px 60px;

  @media (max-width: 576px) {
    padding: 0 20px 20px 20px;
  }
}
</style>
