<template lang="pug">
Article(:content="content")
</template>

<script>
import content from '../../articles/methods.html'
import Article from '~/components/Article.vue'

export default {
  components: { Article },

  data() {
    return {
      content
    }
  }
}
</script>
