<template lang="pug">
.article(v-html="content")
</template>

<script>
import 'katex/dist/katex.min.css'

export default {
  props: {
    content: {
      type: String,
      default: ''
    }
  }
}
</script>

<style>
.article {
  position: relative;
  width: 750px;
  margin-left: -375px;
  left: 50%;
  margin-bottom: 40px;
  line-height: 1.5em;

  @media (max-width: $bpPhone) {
    margin: 0;
    width: 100%;
    padding: 0 1em 0 1em;
    left: 0;
  }

  .references {
    font-size: 0.8em;
  }

  h1, h2 {
    line-height: 1.2em;
  }

  h1 {
    text-align: center;
  }

  .math.display {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .math.inline {
    .katex {
      line-height: inherit;
      font: normal 1em KaTeX_Main, 'Times New Roman', serif;
    }
  }

  .csl-left-margin, .csl-right-inline {
    display: inline;
  }

  .csl-entry {
    margin-bottom: 1rem;
  }
}
</style>
