<template lang="pug">
.footer
  font-awesome-icon.icon(icon="envelope")
  | By <a href="mailto:ville.sokk@gmail.com">Ville Sokk</a>

  span.ml-1
    font-awesome-icon.icon(icon="file-code")
    a(href="https://bitbucket.org/villesokk/species-ranking/") Source code

  span.ml-1
    font-awesome-icon.icon(icon="list")
    nuxt-link(to="/changelog") Changelog
</template>

<style>
.footer {
  text-align: center;
  font-size: 0.8em;
  background-color: rgb(245, 245, 245);
  padding: 20px 0 20px 0;
}

.ml-1 {
  margin-left: 1em;
}
</style>
