<template lang="pug">
.menu
  ul
    li(v-for="item in items" key="item.label")
      nuxt-link(:to="item.route")
        | {{ item.label }}
</template>

<script>
export default {
  data() {
    return {
      items: [
        { route: '/', label: 'Ranking' },
        { route: '/methods', label: 'How does it work?' },
        { route: '/frequently-asked-questions',
          label: 'Frequently asked questions' }
      ]
    }
  },

  methods: {
    isDisabled(route) {
      return route === this.$router.currentRoute.path
    }
  }
}
</script>

<style>
.menu {
  display: block;
  background-color: rgb(245, 245, 245);
  margin-bottom: 30px;
  padding-right: 30px;

  ul {
    margin: 0;
    padding: 0;
    text-align: right;
  }

  li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1.2em;

    &:last-of-type {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
    line-height: 40px;
    color: #555;
    border-color: rgb(245, 245, 245);
    border-width: 0 0 3px 0;
    transition: color 0.2s ease, border-color 0.2s ease;
    padding: 10px 0 10px 0;
  }

  a.active, a:hover {
    border-color: $accentColor;
  }

  @media (max-width: 576px) {
    padding: 10px 20px 10px 20px;
    font-size: 1em;

    ul {
      text-align: left;
    }

    li {
      display: block;
      margin: 0 0 0.2em 0;
    }

    a {
      line-height: 30px;
      width: 100%;
      border-width: 0;
    }

    a.active {
      font-weight: 600;
    }
  }
}
</style>
