<div id="content">
$for(include-before)$
$include-before$
$endfor$
$if(title)$
<div id="$idprefix$header">
<h1 class="title">$title$</h1>
$if(subtitle)$
<h1 class="subtitle">$subtitle$</h1>
$endif$
$if(date)$
<h3 class="date">$date$</h3>
$endif$
</div>
$endif$
$body$
$for(include-after)$
$include-after$
$endfor$
</div>
